{{/* Display author list with underlined owner and conventional contribution symbols. */}}

{{ if .Params.authors }}
  {{ $terms := .GetTerms "authors" }}
  {{ range $index, $author := .Params.authors }}
    {{- $raw_author := printf "%v" $author -}}
    {{- $slug := cond (eq $raw_author "me") "me" ($raw_author | urlize) -}}
    {{- $profile := partial "functions/get_author_profile" (dict "slug" $slug) -}}
    {{- $display := cond (eq $raw_author "me") ($profile.title | default "Qiyang Hong") $raw_author -}}
    {{- $is_owner := eq $slug "me" -}}
    {{- $is_plain := or (eq $raw_author "...") (eq $raw_author "et al.") -}}

    {{- if gt $index 0 }}, {{ end -}}
    <span class="{{ if $is_owner }}author-me{{ end }}">
      {{- if and (not $is_plain) (lt $index (len $terms)) ((index $terms $index).RelPermalink) -}}
        <a href="{{ (index $terms $index).RelPermalink }}">{{ $display }}</a>
      {{- else -}}
        {{ $display }}
      {{- end -}}
    </span>
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        {{- if or (in . "Co-first") (in . "First author") -}}
          <sup class="author-note-symbol author-note-first" title="Equal contribution / first author" aria-label="Equal contribution / first author">*</sup>
        {{- end -}}
        {{- if in . "Corresponding" -}}
          <sup class="author-note-symbol author-note-corresponding" title="Corresponding author" aria-label="Corresponding author">#</sup>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
